.wrapper {
  margin: 0px auto;
  max-width: 1024px;
  padding:5px;
}

nav ul li{
  display: inline;
  margin: 1px;
}

nav ul{
  padding: 0px;
}
nav{
  margin-left: 15px;
  float: right;
}

.logo, .header-text {
  float: left;
  display: inline;
  line-height: 25px;
}

.header-text p, .header-text h1{
  margin: 0px 0px 0px 5px;
}

.header-text h1{
  font-family: 'Yellowtail';
}

.header-text p{
  font-family: 'Ubuntu Mono', monospace;
  word-spacing: .01px;
}

.page-header{
  padding-bottom: 20px;
  border-bottom: dotted 5px;
  margin-bottom: 25px;
}
.post-header .header-text{
  float: left;
  display: inline;
  line-height: 25px;
}
.post-header h1, .post-header p{
  margin: 0px 0px 0px 0px;
  font-family: 'Ubuntu Mono', monospace;
  word-spacing: .01px;
}
.post-header {
  margin-bottom: 20px;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.print {
  float: right;
  display: inline;
  margin-top: 20px;
}
.print img {
  display: inline;
}
.print p {
  display: inline;
  font-family: 'Ubuntu Mono', monospace;
}
.post-body {
}
.post-body img {
  width: 100%;
}
.recipe{
  background: url("images/list-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.recipe p {
  display: inline;
}
.recipe ul {
  display: inline;
  float: left;
}
